<h1 class="mb-4">Lista de Endereços</h1>


<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Rua</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% enderecos.forEach(endereco => { %>
            <tr>
                <td><%= endereco.id %></td>
                <td><%= endereco.rua %></td>
                <td><%= endereco.cidade %></td>
                <td><%= endereco.estado %></td>
                <td><%= endereco.cep %></td>
                <td>
                    <a href="/enderecos/<%= endereco.id %>" class="btn btn-primary btn-sm">Ver</a>
                    <a href="/enderecos/<%= endereco.id %>/edit" class="btn btn-warning btn-sm">Editar</a>
                    <form action="/enderecos/<%= endereco.id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

